
@page
@model LoggedInModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    
            <li>
                <h1 class="display-5">"Välkommen: " @Model.userLogged</h1>
             
            </li>         


</div>


    
@Model.friend
@foreach (var item in Model.personList)
{
    
    <li>
   Namn: @item.PersonName
 
   
   Alias: @item.Alias
    
    
 
    "Dagar kvar: " @item.RemainingTime
    </li>
    <br>
    <br>

    
}





