
@page
@model LoggedInModel
@{
    ViewData["Title"] = "Home page";
}
                       
<div class="text-center">
        <blockquote class="blockquote">
            <p class="mb-0"> <h1 class="text-white">K.I.T.W.T.F </h1> </p>
            <footer class="blockquote-footer text-white" >Keep In Touch With The Family <cite title="Source Title">Fktup Youth 2019</cite></footer>
        </blockquote>
</div>           
                         
<div class="text-left">
@Model.friend
 
        <div class="row">
            <div class="col-12 " >
    
<table class= "table table-bordered bg-white" style="width:100%">
    <thead>
            <tr>
                <th>Vän: </th>
                <th> Relation:</th> 
                <th> Tidsintervall::</th>
                <th> Kontakta</th>
                <th> Senast kontaktad</th>
            </tr>
    </thead>
        <tbody>
             @foreach (var item in Model.personList)
             {         Model.PersonID=item.PersonID;
                <tr>
                    <td>@(item.PersonName) </td>
                    <td>@(@item.Alias)</td> 
                    <td>  @(item.RemainingTime) Dagar</td> 
                    <td>
                        @if(item.RemainingTime<=item.lastContact)
                        {   Model.ContactID = item.ContactID;
                        var buttonClass="primary";
                        
                        @if( item.lastContact<= 3)
                        {
                                buttonClass = "danger";
                                
                        }
                        else if( item.lastContact <=7)
                        {
                                  buttonClass = "warning";
                        }
                        else if( item.lastContact >=21)
                        {
                                    buttonClass = "success";
                        }


                        <form asp-action = "LoggedIn">
            
                                <div class="form-group">             
                                        <input  asp-for="ContactID" class="d-none"> 
                                        <button type="submit" class="btn btn-@(buttonClass) form-control">Kontakta </button>     
                                </div>
                        </form>
                        }
                    </td>
                    <td>@(item.lastCommunication.Substring(0,10))</td> 
                </tr>
             }
        </tbody>
</table>
                <a class="btn btn-primary" href="/AddRelation" role="button" asp-for="PersonID">Skapa Relation</a>            






